<!--TITLE:[&Uuml;ber Wine]-->
<!--BLURB:[Erkl&auml;rungen zum Wine-Projekt]-->

<h1 class="title">&Uuml;ber Wine</h1>

<p>Wine erm&ouml;glicht es, Windows-Programme unter anderen Betriebssystemen laufen lassen. Mit Wine kannst Du diese Programme genauso installieren und laufen lassen, wie unter Windows.</p>

<p>Wine wird aktiv weiterentwickelt. Noch l&auml;uft nicht jedes Programm, aber <a href="http://wiki.winehq.org/UsageStatistics" title="Statistik zur Wine-Benutzung">mehrere Millionen Anwender</a> nutzen Wine, um ihre Programme zu verwenden.</p>

<h3>Open Source und benutzergetrieben</h3>

<p>Wine wird immer <a href="http://wiki.winehq.org/Licensing" title="Wine-Lizensierung">Freie Software</a> sein. Ungef&auml;hr die H&auml;lfte des Quellcodes von Wine wird von Freiwilligen geschrieben. Der Rest wird von Firmen gesponsort, insbesondere <a href="http://www.codeweavers.com/products/" title="Codeweavers Crossover Office">Codeweavers</a>, die eine eigene Version von Wine mit Unterst&uuml;tzung verkaufen.</p>

<p>Wine ist stark von seinen Anwendern abh&auml;ngig. Tests von Anwendern bev&ouml;lkern unsere <a href="http://appdb.winehq.org/" title="Wine Anwendungsdatenbank">Anwendungsdatenbank (en)</a> zur Dokumentation davon, wie gut einzelne Programme funktionieren, und s&auml;mtliche Antworten in den <a href="http://forums.winehq.org/" title="WineHQ Foren">Foren</a> kommen von Freiwilligen.</p>

<h3>Erfahre mehr:</h3>
<ul>
    <li><a href="http://wiki.winehq.org/ImportanceOfWine">Warum Wine so wichtig ist (en)</a></li>
    <li><a href="http://wiki.winehq.org/Debunking_Wine_Myths">Wine-Mythen entlarvt (en)</a></li>
    <li><a href="http://wiki.winehq.org/WineHistory">Geschichte des Wine-Projekts (en)</a></li>
    <li><a href="http://wiki.winehq.org/ProjectOrganization">Organisation und Leitung (en)</a></li>
</ul>

<hr>
<div class="link-container">
  <p class="right-link">Die Geschichte von Wine: <a href="{$root}/history">Weiter</a></p>
</div>
