<!--TITLE:[News]-->
<!--BLURB:[All the latest news from the Wine community.]-->

<h1 class="title">News</h1>

<!--EXEC:[news]-->

<hr />

<div class="link-container">
    <p><a href="{$root}/wwn/">World Wine News Archive</a></p>
</div>
<ul class="rss">
    <li><a href="{$root}/news/rss/">WineHQ News RSS Feed</a></li>
</ul>

