<!--TITLE:[Nouvelles]-->
<!--BLURB:[Toutes les dernières nouvelles de la communauté de Wine.]-->

<h1 class="title">Nouvelles</h1>

<!--EXEC:[news]-->

<ul class="rss">
    <li><a href="{$root}/news/rss/">Flux RSS des nouvelles de WineHQ</a></li>
</ul>

