# Website Configuration File

# turns on debug log on website (shows sql queries, etc)
web_debug:          0

# list of debug channels to output (channels are: none,all,template,plugin)
@debug_chan:        none

# title of this site
site_name:          WineHQ

# default theme
theme:              winehq

# default language
lang:               en

# available languages
@languages:         en, de, es, fr, pt

# default base URLS (if you run the site, in a subdir, set base_root)
base_root:          
base_url:           http://www.winehq.org{$base_root}/

# Path to WWN XML files
news_xml_path:      news

# Path to WWN XML files
wwn_xml_path:       wwn

# URL for bugs
bug_system:         http://bugs.winehq.org/show_bug.cgi?id=

# URL for git tree
git_tree:           http://source.winehq.org/git
