<!--TITLE:[News]-->
<!--BLURB:[All the latest news from the Wine community.]-->

<h1 class="title">Aktualności</h1>

<!--EXEC:[news]-->

<ul class="rss">
    <li><a href="{$root}/news/rss/">WineHQ News RSS Feed</a></li>
</ul>

