<!--TITLE:[WineConf 2008 - Survey]-->

<table width="100%">
<tr>
  <td><img src="{$root}/images/wineconf/wineconf_logo.jpg" width="295" height="108" alt="-LOGO-"></td>
  <td align="right"></td>
</tr>
</table>

<hr />

<!--EXEC:[register?form=wineconf/survey;db=survey]-->

<p>&nbsp;</p>
