
        <item>
            <title>{$item_title}</title>
	        <description>{$item_desc}</description>
            <link>{$item_link}</link>
            <guid>{$item_guid}</guid>
            <pubDate>{$item_date}</pubDate>
        </item>
